@import './components/nav-menu.scss';

body {
    background-color: #a1e5ffbf;
}



$bp-md: 768px;

@mixin md {
    @media (min-width: #{$bp-md}) {
        @content;
    }
}

.content {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0px 0px 11px #48c6ff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 90%;
    font-family: Arial;

    .homepage-container {
        position: relative;
        width: 90rem;
        height: 63rem;
        margin: auto;

        .homepage-text {
            h1 {
                font-weight: 700;
                margin-top: 5px;
            }

            h2 {
                margin-top: 0;
            }
        }

        .homepage-articles {
            .homepage-half {

                .landscape-image {
                    border-radius: 20px;
                    width: 435px;
                    height: 275px;
                    padding: 8px 0px;
                    overflow: hidden;
                }

                .portrait-image {
                    border-radius: 18px;
                    width: 204px;
                    height: 280px;
                    padding: 8px 0px;
                    overflow: hidden;
                }
            }
        }
    }
}
